<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Studio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'yogaapp/css/styles.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amita&family=Quicksand&display=swap');
        </style>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Yoga Studio</div>
        <div class="navbar-toggle" id="js-navbar-toggle">
            <span class="navbar-icon">&#9776;</span>
        </div>
        <ul class="main-nav" id="js-menu">
            <li><a href="{% url 'home' %}" class="nav-links">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'home_logged_in' %}" class="nav-links">My Page</a></li>
            <li><a href="{% url 'logout' %}" class="nav-links">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="nav-links">Login</a></li>
            <li><a href="{% url 'register' %}" class="nav-links">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="background">
        <div class="centered-text">
            <h1>Namaste to a <br>
            brand new you.</h1>
            <p>Start your journey with us today</p>
            <a href="{% url 'register' %}" class="btn">Get started</a>
        </div>
    </div>

    <div class="yoga-live-classes">
        <h1>Yoga live classes</h1>
        <div class="live-classes-gallery">
            <div class="live-class-item">
                <img src= "../static/yogaapp/static/images/yoga_class1.jpg"; alt="Yoga Class 1">
                <p><b>Beginner</b> <br>
                A beginner's yoga class offers a welcoming environment for those new to the practice.
                 The instructor guides participants through basic poses and breathing techniques, 
                 ensuring everyone feels comfortable and supported.
                  It's a great way to improve flexibility, reduce stress, and start a journey towards
                overall wellness.</p>
            </div>
            <div class="live-class-item">
                <img src="../static/yogaapp/static/images/yoga_class2.jpg" alt="Yoga Class 2">
                <p> <b>Hatha</b> <br>
                    A Hatha yoga class focuses on balancing the mind and body through a combination of physical postures,
                    breathing techniques, and meditation. 
                    It typically involves holding poses for extended periods to build strength and flexibility
                    while promoting relaxation. Participants often leave feeling rejuvenated, centered,
                    and more aware of their physical and mental states.</p>
            </div>
            <div class="live-class-item">
                <img src="../static/yogaapp/static/images/yoga_class3.jpg" alt="Yoga Class 3">
                <p><b>Vinyasa</b><br>
                    A Vinyasa yoga class typically involves smoothly transitioning from one pose to another in a flowing sequence,
                     synchronized with the breath. It is known for its dynamic and invigorating style, 
                     which can be physically challenging yet deeply rewarding. 
                     Participants often experience improved flexibility, strength, and mental clarity through regular practice.</p>
            </div>
            <div class="live-class-item">
                <img src="../static/yogaapp/static/images/yoga_class4.jpg" alt="Yoga Class 4">
                <p><b>Ashtanga</b><br>
                    Ashtanga yoga class is a dynamic and physically demanding practice that follows a specific sequence of postures.
                     It emphasizes the synchronization of breath with movement to create a flowing and meditative experience. 
                     This practice is known for building strength, flexibility, and mental clarity.</p>
            </div>
        </div>
    </div>
        <a href="{% url 'login' %}" class="btn">Login now</a>

    
    <div class="testimonials">
        <h1>Yoga success stories</h1>
        <div class="testimonials-container">
            <div class="testimonial">
                <p>"Yoga has changed my life! I feel more relaxed and energized every day."</p>
                <p>- Marie</p>
            </div>
            <div class="testimonial">
                <p>"I've improved my flexibility and strength thanks to regular yoga practice."</p>
                <p>- Pia</p>
            </div>
            <div class="testimonial">
                <p>"The yoga classes are amazing and the instructors are very knowledgeable."</p>
                <p>- Sven</p>
            </div>
            <div class="testimonial">
                <p>"Yoga has helped me manage stress better and improve my overall well-being."</p>
                <p>- Lina</p>
            </div>
        </div>
    </div>


</div>

<footer class="container-footer">
    <p>&copy; 2024 Yoga Studio. All rights reserved.<br>
    Contact us at <a href="mailto:info@yogastudio.com">info@yogastudio.com</a><br>
        <i class="fi fi-brands-facebook"></i> <a href="https://www.facebook.com/" target="_blank">facebook</a>
            <i class="fi fi-brands-instagram"></i><a href="https://www.instagram.com/" target="_blank">instagram</a>
            <i class="fi fi-brands-twitter-alt-circle"></i><a href="https://www.x.com/" target="_blank">X/twitter</a>
        </p>
</footer>

    <script>
        document.getElementById('js-navbar-toggle').addEventListener('click', function() {
            var menu = document.getElementById('js-menu');
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>