<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'yogaapp/css/styles.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Yoga Studio</div>
        <div class="navbar-toggle" id="js-navbar-toggle">
            <span class="navbar-icon">&#9776;</span>
        </div>
        <ul class="main-nav" id="js-menu">
            <li><a href="{% url 'home' %}" class="nav-links">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="nav-links">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="nav-links">Login</a></li>
            <li><a href="{% url 'register' %}" class="nav-links">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="login-container">
        <h1>Logged out successfully</h1>
        <p>Thank yourself for taking time to your wellbeing,<br>
        hope to see you soon again.</p>

        <a href="{% url 'home' %}" class="btn-get-started">Get back home</a>
   
    </div>

    <script>
        document.getElementById('js-navbar-toggle').addEventListener('click', function() {
            var menu = document.getElementById('js-menu');
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>