<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'yogaapp/css/styles.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amita&family=Quicksand&display=swap');
        </style>
         <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>
         <link rel="apple-touch-icon" sizes="180x180" href="../static/yogaapp/static/images/apple-touch-icon.png">
         <link rel="icon" type="image/png" sizes="32x32" href="../static/yogaapp/static/images/favicon-32x32.png">
         <link rel="icon" type="image/png" sizes="16x16" href="../static/yogaapp/static/images/favicon-16x16.png">
         <link rel="manifest" href="../static/yogaapp/static/images/site.webmanifest">
        </head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Yoga Studio</div>
        <div class="navbar-toggle" id="js-navbar-toggle">
            <span class="navbar-icon">&#9776;</span>
        </div>
        <ul class="main-nav" id="js-menu">
            <li><a href="{% url 'home' %}" class="nav-links">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="nav-links">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="nav-links">Login</a></li>
            <li><a href="{% url 'register' %}" class="nav-links">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="login-container">
        <h1>Login</h1>

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    <footer class="container-footer">
        <p>&copy; 2024 Yoga Studio. All rights reserved.<br>
        Contact us at <a href="mailto:info@yogastudio.com">info@yogastudio.com</a><br>
            <i class="fi fi-brands-facebook"></i> <a href="https://www.facebook.com/" target="_blank">facebook</a>
                <i class="fi fi-brands-instagram"></i><a href="https://www.instagram.com/" target="_blank">instagram</a>
                <i class="fi fi-brands-twitter-alt-circle"></i><a href="https://www.x.com/" target="_blank">X/twitter</a>
            </p>
    </footer>
    <script>
        document.getElementById('js-navbar-toggle').addEventListener('click', function() {
            var menu = document.getElementById('js-menu');
            menu.classList.toggle('active');
        });
    </script>
</body>
</html>